<mat-card>
    <mat-card-header class="mb-2">
        <strong>Add new product</strong>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="productForm" (ngSubmit)="addProduct()">
            <mat-form-field class="w-100 my-2">
                <input matInput placeholder="Product title"  formControlName="title">
                <mat-error>This feild is required</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 my-2">
                <input matInput placeholder="Product description"  formControlName="description">
                <mat-error>This feild is required</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 my-2">
                <input type="number" min="1" matInput placeholder="Product price"  formControlName="price">
                <mat-error>This feild is required</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 my-2">
                <input matInput placeholder="Product image"  formControlName="image">
                <mat-error>This feild is required</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
                <input matInput placeholder="Product category"  formControlName="category">
                <mat-error>This feild is required</mat-error>
            </mat-form-field>

            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit" 
                class="btn-block my-4" [disabled]="productForm.invalid">
                Add product
            </button>
            </mat-card-actions>
            
        </form>
    </mat-card-content>
</mat-card>