<mat-card>
    <mat-card-header class="mb-2 justify-content-center">
        <strong>Add new product</strong>
    </mat-card-header>
    <mat-card-content>
        <div class="alert" *ngIf="showAlert">
            <span>Product added successfully</span> 
        </div>
        <form [formGroup]="productForm" (ngSubmit)="addProduct()" FormGroupDirective>
            <mat-form-field class="w-100 my-2">
                <input matInput placeholder="Product title"  formControlName="title">
                <mat-error *ngIf="productForm.controls['title'].hasError('required')">{{requiredErrorMsg}}</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 my-2">
                <input matInput placeholder="Product description"  formControlName="description">
                <mat-error *ngIf="productForm.controls['description'].hasError('required')">{{requiredErrorMsg}}</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 my-2">
                <input type="number" min="1" matInput placeholder="Product price"  formControlName="price">
                <mat-error *ngIf="productForm.controls['price'].hasError('required')">{{requiredErrorMsg}}</mat-error>
                <mat-error *ngIf="productForm.controls['price'].hasError('min')">It must be a vaid number (ex:34,4345.675) minus not allwoed min = 1</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 my-2">
                <input matInput placeholder="Product image (it must be a valid url ex:https://i.pravatar.cc)"  formControlName="image">
                <mat-error *ngIf="productForm.controls['image'].hasError('required')">{{requiredErrorMsg}}</mat-error>
                <mat-error *ngIf="productForm.controls['image'].hasError('pattern')">it must be a valid url ex:https://i.pravatar.cc</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
                <input matInput placeholder="Product category"  formControlName="category">
                <mat-error *ngIf="productForm.controls['category'].hasError('required')">{{requiredErrorMsg}}</mat-error>
            </mat-form-field>

            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit" 
                class="btn-block my-4" [class.spinner]="showSpinner" [disabled]="productForm.invalid">
                Add product
            </button>
            </mat-card-actions>
            
        </form>
    </mat-card-content>

</mat-card>